 @charset "utf-8";
/* CSS Document */

html{ height: 100%;}
body{ height: 100%; background: #030a18;}


/**********登录、注册部分**********/
/**************************/
/******登录******/
/*------主体------*/
.login{ width: 100%; min-height: 25rem; height: 100%; /*background: url(../images/login_bg.jpg) no-repeat;*/ background-size: cover; background-attachment: fixed; position: relative;}

/*------切换语言------*/
.login .lang{ width: auto; overflow: hidden;}
.login .lang a{ color:#0092b1; display: block; float: right; padding: .5rem;}

/*.login .login-logo{ width: 100%; text-align: center; position: absolute; left: 0; top: 3.5rem;}
.login .login-logo img{ width: 3.8rem; height: 3.8rem; box-shadow: 0 -2px 12px rgba(0, 0, 0, .3); border-radius: 50%;}*/

/*------logo------*/
.login .login-logo{ width: 100%; text-align: center; position: absolute; left: 0; top:3rem;}
.login .login-logo img{ height: 3.8rem;margin-bottom:0.2rem;}
.login .login-logo h1{display:block;width:100%;font-size:0.7rem;color:#00a2d1;text-align:center;}

/*------登录表单------*/
.login .login-form{ width: 100%; padding: 1rem .6rem; position: absolute; left: 0; top:7.8rem;}

.login .login-form .login-form-group{ width: 100%; height: 2rem; border:#0092b1 .05rem solid; border-radius: 1rem; margin-top: .5rem; position: relative; padding: 0 0 0 5rem;}

.login .login-form .login-form-group label{ width: 5rem; height: 1.9rem; line-height: 1.9rem; font-size: .58rem; color:#0092b1; padding-left: 2rem; position: absolute; left: 0; top:0;}
.login .login-form .login-form-group label:before{ width: 2rem; height: 1rem; content: ''; background-position: center; background-repeat: no-repeat; background-size: .7rem auto; position: absolute; left: 0; top: .4rem;}

.login .login-form .login-form-group input{ width: 100%; height: 1.9rem; font-size: .58rem; color:#00d2ff;}
.login .login-form .login-form-group input::-webkit-input-placeholder{ color:#00d2ff;}
.placeholder input::-webkit-input-placeholder {
    color: #ccc !important;
}

.placeholder input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc !important;
}

.placeholder input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc !important;
}

.placeholder input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc !important;
}
.placeholder label {
    color: #fff!important;
}
.changecolor a{
    color: #fff !important;
}
/*------图标------*/
.login-form-group label.icon-phone:before {
    background-image: url(../images/login_icon_1.png);
}
.login-form-group label.icon-pw:before{ background-image: url(../images/login_icon_2.png);}

/*------链接------*/
.login .login-form .login-links{ width: 100%; font-size: .5rem; overflow: hidden; padding: .5rem;}
.login .login-form .login-links a{ color:#0092b1; display: block; float: left;}
.login .login-form .login-links a.login-links-2{ float: right;}

/*------提交------*/
.login .login-form .login-submit{ padding-top:1.2rem;}
.login .login-form .login-submit button{ width: 100%; height: 1.8rem; font-size: .64rem; color: #fff; text-align: center; background:#00aecc; border-radius: .9rem;border:solid 1px #4edeff;}


/******注册******/
.register{ width: 100%; overflow: hidden; padding: .5rem .5rem;}
.register .form-group{border: #1c365f 1px solid;margin-bottom: 0.5rem;border-radius: 5px;}
.register .form-submit{ margin-top:1rem;}


/******下载链接******/
.app-download { overflow:hidden; padding: .5rem .3rem}

.app-download a { width:4rem; line-height:1.6rem; font-size:.52rem; background-image: url(../images/IOS.png); background-repeat:no-repeat; background-size:auto .9rem; background-position:.3rem .3rem; display:block; padding:0 0 0 1.4rem; float:left; color: #0092b1;}
.app-download a:nth-child(2) { background-image: url(../images/Android.png); float:right;}
.download-box a{display:block;text-align:center;border:solid 1px #0092b1;border-radius:1rem;width:100%;background-position: 5rem 0.3rem;margin-bottom:1rem;}





