@charset "utf-8";
/* CSS Document */
body {background: #f4f4f4;}
.clearfix {
 *zoom: 1;
}
.clearfix:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}
/****页头搜索框****/
.search_box {
	width: 100%;
	height: 1.2rem;
	position: relative;
	margin: 0 auto;
	margin-top: .23rem;
	border-radius: .6rem;
	padding: 0 .5rem 0 1.4rem;
	background: url(../images/shop/cont_icon_10.png) no-repeat .3rem .25rem;
	background-size: .7rem auto;
	background-color: #192e52;
}
.search_box input {
	width: 100%;
	height: 100%;
	font-size: .52rem;
	color: #fff;
}
/****页头分类按钮****/
.r_searh_menu {
	width: 1.66rem;
	height: 1.66rem;
	background: url(../images/shop/cont_icon_11.png) no-repeat center;
	background-size: 1rem auto;
	overflow: hidden;
	display: block;
	position: absolute;
	z-index: 1000;
	right: 0;
	top: 0;
}
.r_searh_menu span {
	width: 100%;
	height: 100%;
	display: block;
}
/*头部样式end*/


/*--商品页面侧滑导航样式begin--*/
.popup_1 {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
}
.shop_r_nav {
	background: #ffffff;
	height: 100%;
	position: fixed;
	left: 0;
	top: 1.66rem;
	bottom: 0;
	overflow-y: auto;
	z-index: 9999;
}
.shop_r_nav li {
	line-height: 1.8rem;
	text-align: center;
	border-bottom: 1px solid #f1f1f1;
}
.shop_r_nav li a {
	display: block;
	font-size: .56rem;
	color: #666;
	padding: 0 .7rem;
}
.shop_r_nav li a.active {
	color: #46adfc;
}
/*--商品页面侧滑导航样式end--*/


.main_cont {
	padding: .4rem 0 .4rem .4rem;
}
.shop_box {
	width: 100%;
	overflow: hidden;
	padding-bottom:1.8rem;
    position:relative;
}
.shop_box li {
	float: left;
	padding-right: 0.2rem;
	width: 50%;
	margin-bottom: 0.4rem;
}
.shop_box a {
	width: 100%;
	display: block;
}
.s_list_box {
	background: #ffffff;
	width: 100%;
}
.list_box_pic {
	width: 100%;
	height: 100%;
	position: relative;
}
.list_box_pic:before {
	content: "";
	padding-top: 100%;
	vertical-align: middle;
	display: block;
}
.list_box_pic img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.s_text_c {
	padding: 0.2rem 0.1rem;
}
.s_box_text {
	font-size: .48rem;
	color: #111;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .2rem 0;
}
.s_t_cont {
	padding: .5rem;
}
.price_t {
	font-size: .9rem;
	color: #fc0a0a;
}
/*--商城首页列表样式end--*/

.det_p_cont {
	width: 100%;
}
.det_list {
	width: 100%;
	height: 100%;
	position: relative;
}
.det_list:before {
	content: "";
	padding-top: 100%;
	vertical-align: middle;
	display: block;
}
.det_list img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.box_t_del {
	font-size: .56rem;
	color: #111;
}
.main_bg {
	background: #ffffff;
}
.shop_del_t {
	text-align: center;
	line-height: 1.5rem;
	font-size: 0.66rem;
	color: #fc0a0a;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}
.shop_bd_t {
	width: 100%;
	padding: .3rem .5rem .3rem .8rem;
	border-bottom: 1px solid #f1f1f1;
	position: relative;
}
.shop_bd_t:after {
	width: .12rem;
	height: .6rem;
	content: '';
	background: #f80;
	border-radius: .05rem;
	position: absolute;
	left: .2rem;
	top: .45rem;
}
.shop_bd_t p {
	font-size: 0.6rem;
	color: #333;
}
.shop_describe {
	font-size: .52rem;
	color: #999;
	text-align: justify;
	padding: .5rem;
}
.shop_describe p {
	color: #474747;
	font-size: 0.5rem;
	line-height: 0.75rem;
}
.botton_box {
	background: #fff;
	width: 100%;
	position: fixed;
	bottom: 0;
}
.font_menu {
	width: 40%;
	float: left;
}
.font_menu li a {
	display: block;
	color: #111;
	background: none!important;
	padding: .1rem;
	font-size: .5rem!important;
}
.font_menu li {
	display: block;
	width: 50%;
	float: left;
	text-align: center;
}
.font_menu li p {
	line-height: 0.68rem;
	color: #999;
}
.font_menu li i {
	width: 1rem;
	height: 1rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: .8rem auto;
	display: block;
	margin: 0 auto;
}
.font_menu li .foot-icon-1 i {
	background-image: url(../images/shop/cont_icon_12.png);
}
.font_menu li .foot-icon-2 i {
	background-image: url(../images/shop/cont_icon_13.png);
}
.buy_btn {
	float: right;
	width: 50%;
	padding-top: 0.28rem;
	padding-right: .3rem;
}
.buy_btn a {
	width: 100%;
	background: linear-gradient(90deg,#f40,#f40); 
	background: -webkit-linear-gradient(left,#f40,#f40);
	line-height: 1.3rem;
	color: #fff;
	text-align: center;
	border-radius: .2rem;
	font-size: .6rem;
	display: block;
}
/*--商品详情页底部end--*/

/*--提交订单样式begin--*/
.setting-menu a.setting-menu-2 em, .setting-menu a.setting-menu-2 .add_icon {
	background-image: url(../images/shop/cont_icon_14.png);
	width: 0.8rem;
	height: 0.8rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 0.7rem auto;
	display: block;
	position: absolute;
	left: 0.5rem;
	top: 0.6rem;
}
.setting-menu a.setting-menu-2 .add_icon {
	background-image: url(../images/shop/cont_icon_17.png);
	top: 0.6rem;
}
.setting-menu a.setting-menu-2 .add_icon_t {
	padding-left: 0.5rem;
	color: #111;
	font-size: 0.62rem;
	line-height: 0.8rem;
}
.address_t {
	font-size: .52rem;
    color:#777;
}
.setting-menu .add_del:after {
	display: none;
}
.setting-menu .add_del .add_phone {
	right: 0.5rem;
}
.sett_list {
	background: #fff;
	margin: 0.5rem 0;
	padding:.5rem;
	position: relative;
}
.sett_l_pic {
	width: 3rem;
}
.sett_pic_cont {
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
}
.sett_pic_cont:before {
	content: "";
	padding-top: 100%;
	vertical-align: middle;
	display: block;
}
.sett_pic_cont img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.sett_pic_bd {
	position: absolute;
	left: 4rem;
	top: 0.4rem;
	font-size: .56rem;
    color: #333;
}
.sett_pic_add {display:block;
	position: absolute;
	left:4rem;
	top:1.4rem;
	padding: 0.4rem 0;
}
.sett_price {
	position: absolute;
	color: #fc0a0a;
	font-size: 0.72rem;
	right: 0.45rem;
	top: 0;
}
.add_btn {
	position: relative;
	top: 1rem;
}
.add_btn span, .add_btn input {
	display: block;
	float: left;
}
.add_btn .add_btn_l img {
	width: 0.76rem;
	height: 0.76rem;
}
.add_btn p .nub_show {
	width: 1.2rem;
	height: .76rem;
	border:#ccc 1px solid;
	background: #fff;
	margin: 0 .1rem;
	text-align: center;
    color:#333;
}
.remark_cont {
	background: #ffffff;
	margin: 0.5rem 0;
	padding: 0.2rem .5rem;
}
.remark_cont textarea {
	width: 100%;
	line-height: 0.7rem;
}
.foot_buy {
	padding: .3rem;
}
.foot_cont li {
	width: 50%;
	float: left;
}
.foot_cont .foot_t {
	text-align: left;
	line-height: 0.7rem;
	font-size: 0.56rem;
	padding: 0.3rem 0.1rem 0 0;
	color: #f50;
}
.foot_cont .add_btn {position:initial;top:0;line-height: 1.3rem;color: #333;text-align: center;font-size: .6rem;display: block;padding-right:0.5rem;}
.foot_cont .add_btn select{display:block;border:solid 1px #ccc;border-radius:0.2rem;width:100%;line-height:1.3rem;height:1.3rem;}

.foot_cont li a {
	width: 100%;
	background: linear-gradient(90deg,#f40,#f40); 
	background: -webkit-linear-gradient(left,#f40,#f40);
	line-height: 1.3rem;
	color: #fff;
	text-align: center;
	border-radius: .2rem;
	font-size: .6rem;
	display: block;
}
/*--提交订单样式end--*/

.add_list {
	margin-bottom: 0.4rem;
}
.add_edit_cont {
	padding: 0.2rem 0;
	border-top: 1px solid #f1f1f1;
	background: #ffffff;
}
.add_edit_cont .edit_box {
	padding: 0 .5rem;
	position: relative;
}
.add_edit_cont .edit_box .edit_btn {
	position: absolute;
	right: 0.5rem;
}
.add_edit_cont .edit_box .edit_btn a {
	display: inline-block;
	margin-left: 0.3rem;
}
.add_new_cont {
	padding: 0.4rem 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.add_new_cont button {
	width: 80%;
	background: #46adfc;
	line-height: 1.3rem;
	color: #ffffff;
	border: none;
	border-radius: .2rem;
}
/*--地址管理样式end--*/

/*--我的订单begin--*/
.order-container {
	padding: 3.66rem 0 0 0;
}
.tab_switch {
	width: 100%;
	border-bottom: #142b50 1px solid;
	background:#091831;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 1.66rem;
	z-index: 999;
}
.tab_switch li {
	line-height: 1.6rem;
	width: 25%;
	text-align: center;
	float: left;
}
.tab_switch a {
	margin: auto;
	display: block;
	color: #cbcae4;
}
.tab_switch .int_active {
	color: #00d2ff;
	border-bottom: 2px solid #00d2ff;
	width: 70%;
	font-size: 0.56rem;
	display: inline-block;
}
.order {
	width: 100%;
	background: #fff;
	overflow: hidden;
	margin-bottom: .3rem;
}
.order .order-title {
	width: auto;
	height: 1.7rem;
	line-height: 1.7rem;
	color: #555;
	background: #fff;
	overflow: hidden;
	padding: 0 .5rem;
	position: relative;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.order .order-title .order-shop {
	font-size: .56rem;
	color: #111;
	background: url(../images/shop/arrow.png) no-repeat center right;
	background-size: .5rem auto;
	overflow: hidden;
	display: block;
	padding: 0 .6rem 0 0;
}
.order .order-title .order-num {
	font-size: .56rem;
	color: #111;
	overflow: hidden;
	display: block;
}
.order .order-title .order-status {
	font-size: .52rem;
	color: #f60;
	display: block;
}
.order .order-info {
	width: 100%;
	overflow: hidden;
	display: block;
}
.order .order-info .order-item {
	min-height: 4.1rem;
	background: #f7f7f7;
	overflow: hidden;
	padding: .5rem 3rem .5rem 4.1rem;
	position: relative;
}
.order .order-info .order-item img {
	width: 3.1rem;
	height: 3.1rem;
	position: absolute;
	left: .5rem;
	top: .5rem;
}
.order .order-info .order-item h1 {
	height: 1.6rem;
	line-height: .8rem;
	font-weight: normal;
	font-size: .56rem;
	color: #111;
	-webkit-line-clamp: 2;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.order .order-info .order-item p {
	font-size: .5rem;
	color: #aaa;
	margin-top: .3rem;
}
.order .order-info .order-price {
	position: absolute;
	right: .4rem;
	top: .6rem;
}
.order .order-info .order-price h3 {
	font-size: .56rem;
	font-weight: normal;
	color: #111;
}
.order .order-info .order-price span {
	font-size: .5rem;
	color: #999;
	margin-top: .2rem;
}
.order .order-info .order-price h3, .order .order-info .order-price span {
	text-align: right;
	display: block;
}
.order-summary {
	width: 100%;
	color: #111;
	text-align: right;
	overflow: hidden;
	padding: .4rem .3rem;
}
.order-summary span {
	font-size: .52rem;
	margin: 0 .1rem;
}
.order-summary b {
	font-size: .64rem;
	font-weight: normal;
	color: #fc0a0a;
}
.order-summary span {
	font-size: .52rem;
	margin: 0 .1rem;
}
.order-toolbar {
	width: auto;
	overflow: hidden;
	padding: 0 .4rem;
}
.order-toolbar a {
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .56rem;
	color: #555;
	border: #d4d4d4 1px solid;
	border-radius: .2rem;
	padding: 0 .5rem;
	display: block;
	float: right;
	margin: .2rem  0 .4rem .3rem;
}
.order-toolbar a {
	height: 1.1rem;
	line-height: 1.1rem;
	font-size: .52rem;
	color: #555;
	border: #d4d4d4 1px solid;
	border-radius: .2rem;
	padding: 0 .4rem;
	display: block;
	float: right;
	margin-left: .3rem;
}
.order-toolbar a.active {
	color: #46adfc;
	border-color: #46adfc;
}
/*--我的订单end--*/

/*--订单详情begin--*/
.order-details-status {
	width: 100%;
	 background: linear-gradient(90deg,#ffc052,#fead37); 
	background: -webkit-linear-gradient(left,#ffc052,#fead37);
	overflow: hidden;
	padding: 0.8rem 0.4rem 0.8rem 1rem;
}
.order-details-status h1 {
	font-size: .8rem;
	font-weight: 100;
	color: #fff;
	float: left;
}
.order-details-status a {
	font-size: .56rem;
	color: #fff;
	border: #fff 1px solid;
	border-radius: .2rem;
	padding: .2rem .5rem;
	display: block;
	float: right;
}

/*--订单详细信息--*/
.order-details-info {
	width: 100%;
	background: #fff;
	overflow: hidden;
	padding: .5rem;
}
.order-details-info li {
	width: 100%;
	line-height: 1rem;
	overflow: hidden;
}
.order-details-info label, .order-details-info span {
	font-size: .5rem;
	color: #999;
	display: block;
	float: left;
}
