@model JN.Data.Matching
@{
    Layout = "~/Areas/APP/Views/Shared/_Layout" + JN.Services.Tool.ConfigHelper.GetConfigString("Theme") + ".cshtml";
}
<link href="/Theme/App/css/trade.css" rel="stylesheet">
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">@T("付款截图")</div>
</header>

<section class="container">
        <img alt="" src="@Model.ProofImageUrl" style="text-align: center; width:100%"  />
</section>