<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--网站配置项如下：-->
    <add key="Theme" value="18080102" /><!--当前前台皮肤-->
    <add key="CollectLanguage" value="true" /><!--是否开启自动采集-->
    <add key="MultiLanguage" value="true" /><!--是否开启多语言-->
    <add key="HaveShop" value="false" /><!--是否开启内置商城-->
    <add key="HaveC2C" value="true" /><!--是否开启C2C-->
    <add key="DBName" value="KJ190416" /><!--数据库名字，用户备份和清空数据等-->
    <add key="HaveHttps" value="False" /><!--是否开启域名证书-->
    <add key="DevelopMode" value="True" /><!--是否开发模式-->
    <add key="MemberAtlas" value="sun" /><!--双轨double 三轨three 太阳线sun 默认太阳线-->
    <add key="IsRefereeUser" value="False" /><!--是否有推荐人-->
    <add key="HaveAgent" value="False" /><!--是否开启商务中心-->
    <add key="Ismall" value="False" /><!--是否开启外置商城-->
    <add key="HaveEncrypt" value="False" /><!--是否开启加密数据库连接-->
    <add key="EncryptKey" value="ez3MccXwP+6Q8vUMYJ" /><!--数据库连接加密秘钥-->
    <add key="AdminPath" value="admincenter" /><!--后台路径-->
    <add key="IphoneAppUrl" value="http://www.xmvip.vip/DospM2" /><!--苹果下载链接-->
    <add key="AndroidAppUrl" value="http://sign.msit6.com/Sign/APK?S=Z4TB" /><!--安卓下载链接-->

    <add key="juhe" value="691197e717ba79821ed9e81fd9d146ab" /> <!--聚合接口-->
    <add key="OtherLoginUrl" value="http://wp18032301.eda8888.com/usercenter/login/LoginIndex" /><!--跳转登陆-->
      
    <add key="HaveEncrypt" value="false" />
    <add key="EncryptKey" value="ez3MccXwP+6Q8vUMYJ" />

    <!--短信签名ID或签名-->
    <add key="SMSsign" value="【Fj斐济矿工】" />
    <!--云片网短信接口apikey-->
    <add key="YunPianApiKey" value="deace1d0a07b8a561b2913795695e25f2" />

    <!--调用api签名密钥：生产环境建议生成复杂的密钥-->
    <add key="WebApiSecretKey" value="624rdj8KkmgTL4WRBkTMUeYE8HPtowjVS.@!#" />

    <!--<add key="ConnectionString" value="Data Source=192.168.1.36;Initial Catalog=KJ190416test;Persist Security Info=True;User ID=sa;Password=sa123;MultipleActiveResultSets=true;" />-->
    <!--本系统链接字符串-->
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=VRWEB;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=true;" />  <!--本系统链接字符串-->
    <add key="ConnectionStringOtherSystems" value="Data Source=.;Initial Catalog=wp18032301;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=true;" />    <!--其他系统链接字符串-->
   
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.1" />   
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <session-config>
        <session-timeout>360</session-timeout>
      </session-config>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>

    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>

      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
<system.webServer>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>