/*公用*/
*{padding:0;margin:0;box-sizing: border-box;}
html{ width:100%; height:100%;}
body{box-sizing:border-box;color:#3f3d4d;-webkit-font-smoothing: antialiased;font-family: "微软雅黑" !important;font-style: normal !important;width:100%;height:100%;display:-webkit-box;-webkit-box-orient:vertical;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-size: .4rem;line-height: .6rem !important;background: #FFFFFF;}
a{text-decoration: none;outline: none;cursor: pointer; color: #3f3d4d;}
a:hover{text-decoration: none;outline: 0;}
a:active{outline: 0;}
em,i{font-style:normal;}
input{background:none;outline:0;}
button,input[type="button"], input[type="reset"], input[type="submit"]{cursor: pointer;-webkit-appearance: button;outline:0;}
ol,ul,li{list-style: none;list-style-type: none;}
h1,h2,h3,h4,h5,h6{font-size: 100%; font-weight: normal;}
textarea{resize: vertical;border: 1px solid #F6F6F8;padding: 5px;}
:focus{outline:0;}
button{cursor:pointer;}
img{border:none;vertical-align: middle;}

/*维护中*/
.wh-bg{background: #fff url(../img/wh_bg.jpg) center bottom no-repeat;height: 100%;width: 100%;position: absolute;background-size: 100%;max-width: 640px;margin: 0 auto;}
.weihu h1{margin-top: 30px;text-align: center;color: #2b6aaa;font-weight: bold;font-size: 16px;height: 30px;line-height: 30px;}
.weihu h3{font-size:14px;color:#666;text-align:center;margin-top: 20px;}
.weihu p{font-size: 16px; color:#666; text-align:center; margin-top:30px; margin-bottom: 50px;}
.weihu .back_home{font-size: 16px; color: #A71615; text-align:center; width: 180px; margin: 0 auto; background: #f9e117; height: 40px; line-height: 40px; border-radius: 4px;}
.weihu .back_home a{color: #A71615;}
.wehu_img{margin-top: 70px;}
.wehu_img img{ width: 100%;}
