
@{
    ViewBag.Title = "Exchangerate";
    Layout = "~/Areas/APP/Views/Shared/_Layout18080102.cshtml";
}
<link href="/Theme/App/css/user.css" rel="stylesheet">
<header class="header">
    <div class="header-return">
        <a href="javascript:history.go(-1);"></a>
    </div>
    <div class="logo">@T("汇率表")</div>
</header>
<section class="container">
    <div class="exchangerate">
        <img src="~/Theme/APP/img/rate.jpg" />
    </div>
</section>
