@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<JN.Data.ExchangeDetail>
@{
    JN.Data.User Umodel = null;
    if (JN.Services.UserLoginHelper.CurrentUser() == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }
    else
    {
        Umodel = MvcCore.Unity.Get<JN.Data.Service.IUserService>().Single(JN.Services.UserLoginHelper.CurrentUser().ID);
    }
    Layout = "~/Areas/UserCenter/Views/Shared/_Layout" + JN.Services.Tool.ConfigHelper.GetConfigString("Theme") + ".cshtml";
    var cmodelList = JN.Services.Manager.MD_CacheEntrustsData.GetCurrencyList().Where(x => x.LineSwitch && !x.IsICO).ToList();
}
<script src="~/Plugin/Jquery/jquery.unobtrusive-ajax.min.js"></script><!--ajax提交表单-->

<script src="~/Plugin/My97DatePicker/WdatePicker.js"></script><!--日期插件-->
@*@{Html.RegisterMvcPagerScriptResource();}*@

<div class="dlls">
    <div class="kj-div1">
        <div class="setting-title">
            @T("兑换记录")
        </div> 
        <div class="sellbizhong" id="_ExchangeDetail">
            <!--数据开始-->
            @Html.Partial("_ExchangeDetail", Model)
            <!--分页-->
            
        </div>
    </div>
</div>