@{
    Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
    var cacheSysParam = MvcCore.Unity.Get<JN.Data.Service.ISysParamService>().ListCache("sysparams", x => x.ID < 6000).ToList();
    
}
<div id="content">
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")" class="glyphicons home"><i></i> 首页</a></li>
        <li class="divider"></li>
        <li>@ViewBag.Title</li>
    </ul>
    <div class="separator bottom"></div>
    <div class="innerLR">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            @using (Ajax.BeginForm("updataReferee", new { }, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "afterPost" }, new { id = "saveForm", @class = "form-horizontal" }))
            {
                <div class="control-group">
                    <label class="control-label" for="mainwallet">用户帐号：</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="username" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="drawmoney">推荐人账号：</label>
                    <div class="col-xs-12 col-sm-5">
                        <div class="controls">
                            <input type="text" name="RefereeUser" class="form-control" />
                        </div>
                    </div>
                </div>

                @*<div class="control-group">
                    <label class="control-label" for="drawmoney">推荐人账号：</label>
                    <div class="col-xs-12 col-sm-5">
                        <div class="controls">
                            <input type="text" name="RefereeUser" class="form-control" />
                        </div>
                    </div>
                </div>*@

                <div class="control-group">
                    <label class="control-label" for="adminname">管理员密码：</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="password" name="oldpassword" class="form-control" /><span style="color:red;">&nbsp; *请谨慎操作！建议操作前备份数据</span>
                        </div>
                    </div>
                </div>

                <div class="hr hr-dotted"></div>
                <div class="control-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">
                            保存
                        </button>
                        <a href="javascript:history.go(-1);" class="btn btn-grey">
                            <i class="icon-arrow-left"></i>
                            返 回
                        </a>
                    </div>
                </div>
            }

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
<![endif]-->
@section scripts{
    <script src="~/Plugin/Jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        function afterPost(data) {
            if (data.Status == 200) {
                alert("保存成功，即将为您跳转页面!");
                location.href();
            } else {
                alert("保存失败！错误信息：" + data.Message);
            }
        }
    </script>

}