@{
    Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
}
<!-- Content -->
<div id="content">
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")" class="glyphicons home"><i></i> 首页</a></li>
        <li class="divider"></li>
        <li>@ViewBag.Title</li>
    </ul>
    <div class="separator bottom"></div>
    <!-- // Breadcrumb END -->
    <div class="innerLR">
        <!-- PAGE CONTENT BEGINS -->

        <form class="form-horizontal" id="validation-form" method="post">
            <div class="control-group">
                <label class="control-label" for="adminname">原登录密码：</label>

                <div class="controls">
                    <div class="clearfix">
                        <input type="password" name="oldpassword" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password">新登录密码：</label>

                <div class="controls">
                    <div class="clearfix">
                        <input type="password" name="newpassword" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password">再次确认登录密码：</label>

                <div class="controls">
                    <div class="clearfix">
                        <input type="password" name="newpassword2" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="hr hr-dotted"></div>
            <div class="control-group">
                <label class="control-label">&nbsp;</label>
                <div class="controls">
                    <button class="btn btn-primary" type="submit">
                        保 存
                    </button>
                </div>
            </div>
        </form>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
@section scripts{
}
}